.idea
.DS_Store
.env
docker-compose.yml
/src/backend/static/*

/data/*
images/common/backend/id_rsa
!/data/nginx/
/data/nginx/*
!/data/nginx/ssl/
/data/nginx/ssl/*
!/data/nginx/ssl/self-signed.cert
!/data/nginx/ssl/self-signed.key

stacks/prod/.env
stacks/dev/.env

/src/*
!/src/.gitkeep
